<div class="container mt-5 p-5">
    <div class="row d-flex justify-content-between">
        <div class="contactv col-md-6 card p-3">
            <h5 class="text-center">Contact:</h5>
            <form action="https://formspree.io/f/xdobzkyg" method="POST">
                <div class="form-group" >
                    <label for="name" class="form-label" for="name">Name: </label><br>
                    <input id="name" type="text" class="form-control" name="name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="email" class="form-label" for="email">Email: </label>
                    <input id="email" class="form-control" formControlName="email" name="email" />
                </div>
                <div class="form-group">
                    <label for="name" class="form-label" for="desc">Message: </label>
                    <textarea id="desc" class="form-control" rows="3" formControlName="desc" name="message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3 form-control" (click)="Clearform()">send</button>
            </form>
        </div>
        <div class="map col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62985.743802164165!2d78.80820364760284!3d9.367826031226913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0197f8992ac103%3A0xd76b783dce15f99!2sRamanathapuram%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1645107887744!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>