<div class="margin"></div>
<div class="parallax">
    <div class="parralax-inner" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="skill1 col-lg-6 py-3">
                  <h5 class="text-center shadow-sm mb-5 bg-body rounded p-2">Technical-skills:</h5>
                    <ul class="skills-bar-container">
                        <li>
                          <div class="progressbar-title">
                            <h3>HTML5</h3>
                            <span class="percent" id="html-pourcent"></span>
                          </div>
                          <div class="bar-container">
                            <span class="progressbar progressred" id="progress-html"></span>
                          </div>
                        </li>
                        <li>
                          <div class="progressbar-title">
                            <h3>CSS </h3>
                            <span class="percent" id="css-pourcent"></span>
                          </div>
                          <div class="bar-container">
                            <span class="progressbar progressblue" id="progress-css"></span>
                          </div>
                        </li>
                        
                        <li>
                          <div class="progressbar-title">
                            <h3>JavaScript </h3>
                            <span class="percent" id="javascript-pourcent"></span>
                          </div>
                          <div class="bar-container">
                            <span class="progressbar progresspurple" id="progress-javascript"></span>
                          </div>
                        </li>
                        
                        <li>
                          <div class="progressbar-title">
                            <h3>Bootstrap</h3>
                            <span class="percent" id="bootstrap-pourcent"></span>
                          </div>
                          <div class="bar-container">
                            <span class="progressbar progressorange" id="progress-bootstrap"></span>
                          </div>
                        </li>
                        
                        <li>
                          <div class="progressbar-title">
                            <h3>AngularJS</h3>
                            <span class="percent" id="angular-pourcent"></span>
                          </div>
                          <div class="bar-container">
                            <span class="progressbar progressgreen" id="progress-angular"></span>
                          </div>
                        </li>
                        
                      </ul>
                </div>
                <div class="skill2 col-lg-6 py-3">
                      <h5 class="text-center shadow-sm mb-5 bg-body rounded p-2">Professional-skills:</h5>
                        <ul class="mh-proffessional-progress d-flex flex-wrap justify-content-evenly p-5">
                            <li class="p-2">
                                <h6 class="text-white">Communication:</h6>
                                <circle-progress class="pt-3" [subtitle]="'Communication'" [percent]="80" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="2000"></circle-progress>

                            </li>
                            <li class="p-2">
                                <h6 class="text-white">Project Management:</h6>
                                <circle-progress class="pt-3" [subtitle]="'PM'" [percent]="80" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="2000" ></circle-progress>

                            </li>
                            <li class="p-2">
                              <h6 class="text-white">Leadership:</h6>
                                <circle-progress class="pt-3" [subtitle]="'LM'" [percent]="70" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="2000" ></circle-progress>

                            </li>
                            <li class="p-2">
                              <h6 class="text-white">mentorship:</h6> 
                                <circle-progress class="pt-3" [subtitle]="'Help'" [percent]="70" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#3777BE'" [innerStrokeColor]="'#7f9fc1'" [animation]="true" [animationDuration]="2000" ></circle-progress>

                            </li>

                        </ul>
                </div>
            </div>
            <!--certifications-->
    
            
            
            <!--certifications-->
        </div>
    </div>
</div>
<div class="margin"></div>

