<video id="background-video" autoplay loop id="myvid">
    <source src={{vid}} type="video/mp4">
</video>
<div class="container">
    <!--image start-->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 left order-1">
        
            <p class="name" data-aos="fade-down">
                SYED ABUTHAHIR
            </p>
            <p class="position" data-aos="fade-down">
                <span class="element"></span>
            </p>
            <p class="text-muted" data-aos="fade-down">
                "I am a Entuastic and Motivational Persion Whatever i can do with the help of Almighty"
            </p>
            <div class="sm-media" data-aos="fade-up">
                <a href="#" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/syed-abuthahir-5336391b4/" class="fa fa-linkedin"></a>
                <a href="https://wa.me/8056581289" class="fa fa-whatsapp"></a>
            </div>
           
            <button class="btn btn-sm" href="#"><span></span>About Me...</button>
            
        </div>
        <div class="col-lg-6 col-md-6 col-12 order-sm-2 right" data-aos="fade-up">
            <img src={{image}} alt="image" class="img img-fluid rounded-circle shadow-sm p-1  bg-body rounded ">
        </div>
    </div>
   
</div>
